#all_right {
    position: relative;
    width: 84%;
    height: 92%;
    overflow-x: hidden;
}
#right-content{
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
    height: 70%;
    box-sizing: border-box;
    background-color: #3ed7f0;
    border-radius: 15px;
    padding: 10px 10px;
}
#yrwu{
    margin-top: 5px;
}