<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <title>铸保 医疗保险事务系统</title>
</head>

<body id="body">
    <div id="all">
        <!-- 头部 -->
        <div id="header">
            <img src="../static/images/icon5.png" alt="" id="sant">
            <span id="span1">铸保®</span>
            <span id="span2">医疗保险事务</span>
        </div>
        <!-- 左侧 -->
        <div id="all_left">
            <div id="user">
                <span>{{request.user}}</span>
                <span id="time"></span>
            </div>
            <ul id="ul_list">
                <li>
                    <a href="./updata.html">案件上传</a>
                </li>
                <li>单证分类</li>
                <li>补录管理</li>
                <li>账户管理</li>
            </ul>
            <ul id="setbar">
                <li class="left"><img src="../static/images/icon1.PNG" alt="" id="setbar1"></li>
                <li class="left"><img src="../static/images/icon2.PNG" alt="" id="setbar2"></li>
                <li class="left"><img src="../static/images/icon3.PNG" alt="" id="setbar3"></li>
                <li class="left"><img src="../static/images/icon4.PNG" alt="" id="setbar4"></li>
            </ul>
        </div>
    </div>
</body>

</html>